*,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body *,
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Simplified Arabic Fixed";
  src: url("../fonts/subset-SimplifiedArabicFixed.woff2") format("woff2"),
    url("../fonts/subset-SimplifiedArabicFixed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$color: "#43A07C";

h1,
h2 {
  margin: 0;
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  font-size: 20px;
  line-height: 35px;
}

.cta {
  background-image: linear-gradient(to top right, #d51c57, #d24a8a);
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 80px;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
}

#nav-mobile {
  display: none;
  position: fixed;
  top: 0;
  z-index: 5;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  .info {
    display: flex;
    flex-flow: column;
  }
  .logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px;
    img {
      height: 50px;
      position: relative;
      z-index: 2;
    }
  }
}

#nav {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  .phone,
  .address {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .phone {
    right: calc(50% + 150px);
  }
  .address {
    left: calc(50% + 150px);
  }
  .logo-wrapper {
    margin: 0 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 90px 0;
    position: relative;
    padding-bottom: 60px;
    img {
      height: 150px;
      position: relative;
      z-index: 2;
    }
    span {
      font-family: "Simplified Arabic Fixed";
      position: relative;
      font-size: 33px;
      margin-top: 15px;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      z-index: 1;
    }
  }
}

.hero {
  height: 95vh;
  min-height: 600px;
  background: #000;
  color: #fff;
  .inner-row {
    height: 90%;
    height: calc(100% - 100px);
    position: relative;
    z-index: 2;
  }
  .content {
    width: 580px;
    margin-top: 50px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 25px;
    margin: 20px 0;
  }
  .background {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    filter: saturate(40%);
  }
  .curve {
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: -100px;
  }
}

.services {
  position: absolute;
  top: -20px;
  width: 100%;
  .service-text {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: rgb(116, 116, 116);
  }
}

.australia {
  background: #fff;
  position: relative;
  z-index: 3;
  padding: 120px 0 120px 0;
  .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
  }
  h2 {
    font-size: 45px;
    background: linear-gradient(to top right, #c50341, #e08eb7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-size: 23px;
    line-height: 38px;
    color: #282828;
  }
}

.spa {
  background: #f7f7f7;
  padding: 120px 0;
  .content {
    width: 45%;
    margin: 0;
  }
  h2 {
    font-size: 30px;
  }
  .background {
    background-image: url("../img/spa-pic.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
  }
}

.hero-text {
  padding: 150px 0;
  background: #4999b8;
  text-align: center;
  background-image: linear-gradient(to top right, #4999b8, #65ae99);
  h2 {
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5);
  }
  .cta {
    background: #fff;
    color: #282828;
    margin: 20px auto 0 auto;
  }
}

.testimonials {
  padding: 120px 0;
  background: #131313;
  color: #fff;
  h2 {
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px;
  }
  .testi-img {
    position: absolute;
    width: 30%;
    right: 0px;
    bottom: 0;
    max-width: 360px;
  }
  .testimonial-wrapper {
    max-width: 800px;
    margin: 0 auto;
    .testimonial {
      transition: opacity 0.3s ease;
      opacity: 1;
      &.animating {
        opacity: 0;
      }
    }
    .text {
      font-size: 25px;
      line-height: 40px;
      color: #c2c2c2;
    }
    .reviewer {
      font-size: 28px;
      text-align: right;
      margin-top: 15px;
    }
  }
}

.about {
  text-align: center;
  background: #000;
  color: #fff;
  .background {
    position: sticky;
    background-image: url("../img/nepal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
    left: 0;
    display: block;
    opacity: 1;
    width: 100%;
    height: 100vh;
    z-index: 1;
    will-change: filter, opacity;
  }
  &.row .inner-row {
    z-index: 3;
    margin-top: -150px;
    padding-bottom: 120px;
    opacity: 1;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  h2 {
    font-size: 80px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    max-width: 650px;
    margin: 20px auto;
  }
}

.row {
  position: relative;
  //background: #fff;
  .inner-row {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    &.flex {
      display: flex;
      &.center {
        align-items: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .inner-row {
    padding-left: 20px;
    padding-right: 20px;
  }
  #nav {
    display: none;
  }
  #nav-mobile {
    display: flex;
  }
  .hero {
    height: auto;
    padding: 80px 0 120px 0;
    h1 {
      font-size: 38px;
      line-height: 48px;
    }
    h2 {
      font-size: 22px;
      font-weight: normal;
    }
  }
  .australia {
    padding: 40px 0;
    h2 {
      font-size: 28px;
    }
    p {
      font-size: 18px;
      line-height: 27px;
    }
  }
  .spa {
    padding: 40px 0;
    .background {
      width: 100%;
      opacity: 0.4;
    }
    .content {
      width: 100%;
      text-align: center;
    }
    p {
      font-size: 18px;
      line-height: 26px;
    }
  }
  .services .service-text {
    flex-wrap: wrap;
  }
  .hero-text {
    padding: 80px 0;
    h2 {
      font-size: 40px;
    }
  }
  .testimonials {
    text-align: center;
    padding: 80px 0;
    h2 {
      font-size: 50px;
      margin-bottom: 15px;
    }
    .testimonial-wrapper {
      .text {
        font-size: 21px;
      }
      .reviewer {
        font-size: 24px;
      }
    }
  }
  .about {
    h2 {
      font-size: 50px;
    }
  }
}
